/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://unpkg.com/tailwindcss/dist/base.css
 */
@tailwind base;

/**
 * Remove the default box-shadow for invalid elements to prevent
 * inputs in Livewire components showing with a
 * red border by default in Firefox.
 *
 * See: https://github.com/laravel-frontend-presets/tall/issues/7
 */
 input:invalid, textarea:invalid, select:invalid {
    box-shadow: none;
}

/**
 * This injects any component classes registered by plugins.
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 */

.alert-success {
    @apply bg-green-50;
}

.alert-success h3 {
    @apply text-green-800;
}

.alert-success p {
    @apply text-green-700;
}

.alert-success button {
    @apply text-green-500;
}

.alert-success button:hover {
    @apply bg-green-100;
}

.alert-success button:focus {
    @apply bg-green-100;
}

.alert-danger {
    @apply bg-red-50;
}

.alert-danger h3 {
    @apply text-red-800;
}

.alert-danger p, .alert-danger ul {
    @apply text-red-700;
}

.alert-danger button {
    @apply text-red-500;
}

.alert-danger button:hover {
    @apply bg-red-100;
}

.alert-danger button:focus {
    @apply bg-red-100;
}

.alert-warning {
    @apply bg-yellow-50;
}

.alert-warning h3 {
    @apply text-yellow-800;
}

.alert-warning p {
    @apply text-yellow-700;
}

.alert-warning button {
    @apply text-yellow-500;
}

.alert-warning button:hover {
    @apply bg-yellow-100;
}

.alert-warning button:focus {
    @apply bg-yellow-100;
}

.alert-info {
    @apply bg-yellow-50;
}

.alert-info h3 {
    @apply text-blue-800;
}

.alert-info p {
    @apply text-blue-700;
}

.alert-info button {
    @apply text-blue-500;
}

.alert-info button:hover {
    @apply bg-blue-100;
}

.alert-info button:focus {
    @apply bg-blue-100;
}

.note-editable {
    > h1 {
        @apply text-4xl font-bold leading-none mb-6;
    }

    > h2 {
        @apply text-2xl font-bold leading-none mb-6;
    }

    > h3 {
        @apply text-xl font-semibold leading-none mb-6;
    }

    > h4 {
        @apply font-semibold leading-none mb-6;
    }

    > p {
        @apply mb-6;
    }

    > blockquote {
        @apply px-5 py-2 mb-6 border-gray-300 border-l-4;
    }

    > hr {
        @apply my-6;
    }

    img {
        @apply my-12;
    }

    a {
        @apply text-blue-800 font-medium underline;
        &:hover {
            @apply text-black;
        }
    }

    ul:not(.list-none) {
        @apply pl-0 list-disc ml-10 mb-6;
        li {
            @apply mb-1;
        }
    }

    ol {
        @apply pl-0 list-decimal ml-10 mb-6;
        > li {
            @apply mb-1;
        }
    }

    > p code,
    > ul li *:not(pre) code,
    > ul li > code,
    > ol li *:not(pre) code,
    > ol li > code {
        @apply inline-block bg-gray-800 text-white text-sm p-1 leading-none whitespace-no-wrap font-mono align-baseline;
    }

    > pre, > ul li pre, > ol li pre {
        @apply flex p-0 bg-gray-800 text-gray-300 text-sm leading-loose mb-6;
    }

    > pre code, > ul li pre code, > ol li pre code {
        @apply p-4;
    }

    > table {
        @apply w-full text-left border border-gray-800 border-collapse mb-6 text-sm;
        th {
            @apply font-bold text-gray-800 bg-gray-200 p-2 uppercase tracking-widest border-t-4 border-b border-gray-800;
        }

        td {
            @apply p-3 border-b border-gray-800 text-sm;
        }

        p {
            @apply leading-normal;
        }
  }
}

.datepicker.dropdown-menu {
    @apply border-gray-200 rounded-md border border-solid hidden float-left absolute bg-white;
}

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 */
